@model IEnumerable<Proj.Models.Membership>;

@{
    Layout = "_Layout";
    ViewData["Title"] = "My Projects";
}

<h1>@ViewData["Title"]</h1>

@if (!Model.Any())
{
    <p>You have no projects.</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Project Name</th>
            <th>Summary</th>
            <th>Created at</th>
        </tr>s
        </thead>
        <tbody>
        @foreach (var membership in Model)
        {
            <tr>
                <td>@membership.Project.Name</td>
                <td>@membership.Project.Summary</td>
                <td>@membership.Project.CreatedAt.Date.ToShortDateString()</td>
                    <td><a class="btn btn-success" asp-controller="Projects" asp-action="Show" asp-route-id="@membership.ProjectId">View project</a></td>
            </tr>
        }
        </tbody>
    </table>
    <br />
    
}
<a class="btn btn-success"  asp-controller="Projects" asp-action="New">Create a project</a>