@using Proj.Identity
@model Proj.Models.Project
@inject CurrentUser CurrentUser
@{
    Layout = "_Layout";
}

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert alert-dismissible fade show p-3 rounded-3 mb-5" role="alert">
        @ViewBag.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container mt-5 mx-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <b>@Model.Name</b>
                    </h3>
                    <p class="card-text">@Model.Summary</p>

                    <div class="card-text text-body-secondary">
                        <small>
                            <i>Last updated: @Model.UpdatedAt.Date.ToShortDateString()</i>
                        </small>
                    </div>

                    <div class="card-footer d-flex justify-content-between">
                        @if (Model.OrganizerId == CurrentUser.Id || CurrentUser.IsAdmin)
                        {
                            <div class="p-2">
                                <a asp-controller="Projects" asp-action="Edit" asp-route-projectId="@Model.Id" class="btn btn-primary">Edit Project</a>
                            </div>

                            <div class="p-2">
                                <a asp-controller="Projects" asp-action="Settings" asp-route-projectId="@Model.Id"
                                   class="btn btn-info">
                                    Project Settings
                                </a>
                            </div>

                            <div class="p-2">
                                <a href="@Model.Id/tasks/new" class="btn btn-primary">New Task</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <br/>

    <vc:tasks project-id="@Model.Id" can-edit="@(CurrentUser.Id == @Model.OrganizerId || CurrentUser.IsAdmin)"></vc:tasks>
</div>