@using Proj.Identity
@model Proj.Models.Project
@inject CurrentUser CurrentUser
@{
    Layout = "_Layout";
}

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert alert-dismissible fade show p-3 rounded-3 mb-5" role="alert">
        @ViewBag.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h3>
    <b>@Model.Name</b>
</h3>


<div class="container mt-5 mx-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                        <b>@Model.Name</b>
                    </h3>
                    <p class="card-text">@Model.Summary</p>
                    @if (Model.OrganizerId == CurrentUser.Id || CurrentUser.IsAdmin)
                    {
                        <a asp-controller="Projects" asp-action="Edit" asp-route-projectId="@Model.Id" class="btn btn-primary">Edit</a>
                        <a asp-controller="Projects" asp-action="Settings" asp-route-projectId="@Model.Id"
                           class="btn btn-link">
                            Settings
                        </a>
                        <a href="@Model.Id/tasks/new" class="btn btn-primary">Add a Task</a>
                    }
                </div>
                <div class="card-footer text-body-secondary">
                    <small>
                        <i class="float-end">Last updated: @Model.UpdatedAt.LocalDateTime</i>
                    </small>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row gx-5">
        @foreach (var column in new[] { new { status = "Not Started", color = "bg-tertiary" }, new { status = "In Progress", color = "bg-warning" }, new { status = "Done", color = "bg-success" } })
        {
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header text-center text-bg-secondary border-secondary @column.color">@column.status</h5>
                    <div class="card-body">
                        <ul class="list-group list-group-flush p-2">
                            @foreach (var task in Model.Tasks.Where(t => t.Status == column.status))
                            {
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between flex-row mt-5">
                                        <div class="dropstart">
                                            <button type="button" class="btn btn-secondary dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <h6 class="dropdown-header">Change the status</h6>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>

                                                <vc:change-status-form project-id="@task.ProjectId" task-id="@task.Id"></vc:change-status-form>
                                            </ul>
                                        </div>
                                        <div class="card-text">
                                            <a asp-controller="Tasks" asp-action="Show" asp-route-taskId="@task.Id" asp-route-projectId="@task.ProjectId">
                                                @task.Name
                                            </a>
                                        </div>
                                        <div>
                                            @if (CurrentUser.Id == @Model.OrganizerId || CurrentUser.IsAdmin)
                                            {
                                                <a class="btn btn-success"
                                                   asp-controller="Tasks"
                                                   asp-action="Edit"
                                                   asp-route-projectId="@task.ProjectId"
                                                   asp-route-taskId="@task.Id"
                                                   asp-route-id="@task.Id">
                                                    Edit
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>